<div class="card mb-4 box-shadow">
  <img
      alt="Thumbnail [100%x225]"
      class="card-img-top"
      src="{{ cardeal.main_photo }}"
      style="height: 400px; width: 100%; display: block;">
  <div class="card-body">
    <p class="card-title text-center" style="font-weight: bold"> {{cardeal.title}}</p>
    <p class="card-text">
      <p>
        <span style="float: right">{{cardeal.author}}</span>
        <span style="float: left">{{cardeal.price}} PLN</span>
      </p>
    </p>
  </div>
</div>
