{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    <div class="signup-container">
        <div class="signup-box">
            <h1>{% trans "Sign Up" %}</h1>

            <p class="signup-text">
                {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}" class="signup-link">sign in</a>.{% endblocktranslate %}
            </p>

            {% if not SOCIALACCOUNT_ONLY %}
                {% url 'account_signup' as action_url %}
                <form method="post" action="{{ action_url }}" class="signup-form">
                    {% csrf_token %}
                    <div>
                        {{ form.as_p }}
                        {{ redirect_field }}
                    </div>
                    <div>
                        <button type="submit" class="btn-signup">
                            {% trans "Sign Up" %}
                        </button>
                    </div>
                </form>
            {% endif %}

            {% if PASSKEY_SIGNUP_ENABLED %}
                <hr class="divider">
                <div>
                    <a href="{{ signup_by_passkey_url }}" class="btn-passkey">
                        {% trans "Sign up using a passkey" %}
                    </a>
                </div>
            {% endif %}

            {% if SOCIALACCOUNT_ENABLED %}
                <hr class="divider">
                <div class="social-signup">
                    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
